/* Common styles for both pages */

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Prevent body scrolling */
}

.container {
    background-color: black;
    padding: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    min-width: 300px;
    table-layout: fixed;
    margin: 0;
    background-color: #E7B5A6;
}

table + table {
    margin-top: 20px;
}

th, td {
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid white;
    padding: 5px 10px;
}

th {
    font-weight: bold;
}

.header-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 600px;
    background-color: #E7B5A6;
    padding: 8px 20px;
    border-radius: 8px;
    z-index: 100;
    display: flex;
    justify-content: space-between; /* Center all content in the header-bar */
    align-items: center;
    box-sizing: border-box;
    height: 44px;
    margin: 20px 0;
}

.button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 600px;
}

.connect-wallet-btn,
.gallery-btn {
    position: relative;
    width: 100%;
    background-color: #E7B5A6;
    padding: 12px 24px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px 0; /* Ensure consistent spacing */
    transition: background-color 0.3s;
    font-size: 12px;
    cursor: pointer;
    border: none;
    color: white;
}

.gallery-btn, .back-btn {
    position: relative;
    width: 100%;
    background-color: #E7B5A6;
    padding: 12px 24px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    transition: background-color 0.3s;
    font-size: 12px;
    color: white;
}

.gallery-btn:hover, .back-btn:hover, .connect-wallet-btn:hover {
    background-color: #D8A495;
}

.header-bar p {
    margin: 0;
    flex-grow: 1; /* Allow COSMOS to take up available space on the left */
    text-align: left; /* Align text to the left */
    order: 1; /* Position COSMOS first */
}

button {
    background-color: #E7B5A6;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-right: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #D8A495;
}

#userBid, #walletAddressDisplay {
    color: #D83F31;
}

/* Table column widths */
#bidsTable th:nth-child(1),
#bidsTable td:nth-child(1),
#userInfoTable td:nth-child(1) {
    width: 5%;
}

#bidsTable th:nth-child(2),
#bidsTable td:nth-child(2),
#userInfoTable td:nth-child(2) {
    width: 15%;
}

#bidsTable th:nth-child(3),
#bidsTable td:nth-child(3),
#userInfoTable td:nth-child(3) {
    width: 80%;
}

/* Style for highlighting the user's bid */
#userInfoTable td {
    background-color: #D83F31;
    color: white;
    padding: 5px 10px;
}

#bidsTable {
    background-color: #E7B5A6;
    color: white;
}

.hidden {
    display: none;
}

.week-selector {
    order: 2; /* Place week selector in the middle */
    display: flex;
    align-items: center;
    justify-content: center; /* Center content */
    margin: 0 auto; /* Center the week selector */
    width: 90px; /* Fixed width */
    position: relative;
}

.week-selector select {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 0.9em;
    appearance: none;
    padding: 4px 12px;
    height: 28px;
    width: 100%; /* Ensure the select takes full width of the parent */
    cursor: pointer;
}

.week-selector select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.week-selector select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #E7B5A6;
}

/* Bids container with scrolling */
#bidsContainer {
    position: fixed;
    top: calc(44px + 40px); /* Adjust based on header height including margins */
    bottom: calc(44px + 40px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 600px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

#timeRemaining {
    order: 3; /* Position time remaining on the right */
    text-align: center; /* Center text within timeRemaining */
    min-width: 80px; /* Adjust based on the longest expected time format */
}

@media (max-width: 600px) {
    .auction-time, .header-bar {
        width: calc(100% - 24px);
        padding: 8px 12px;
        font-size: 1em;
        margin: 20px 0;
        flex-wrap: nowrap; /* Prevent wrapping */
        justify-content: center; /* Center all content in the header-bar */
    }

    .button-container {
        width: calc(100% - 24px);
    }

    #bidsContainer {
        width: calc(100% - 24px);
    }

    .container, .gallery {
        padding: 0;
        max-height: 100vh;
    }

    table, th, td {
        font-size: 10px;
    }

    button:not(.gallery-btn):not(.back-btn):not(.connect-wallet-btn) {
        font-size: 0.8em;
        padding: 3px 5px;
    }

    .week-selector select {
        font-size: 0.8em; /* Smaller font size for smaller screens */
    }

    #timeRemaining {
        font-size: 0.8em; /* Smaller font size for smaller screens */
    }

    .header-bar p {
        font-size: 1em;
    }
}