body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 5px;
    font-size: 12px;
    margin: 0;
}

.container {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: calc(100vh - 40px);
    overflow-y: hidden;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: none;
    min-width: 300px;
}

th, td {
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid white;
    padding: 10px 20px;
}

th {
    font-weight: bold;
}

.auction-time {
    font-size: 1.5em;
    text-align: center;
    background-color: #E7B5A6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.connect-wallet-btn, .gallery-btn {
    background-color: #E7B5A6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.gallery-btn {
    margin-right: 0;
}

.connect-wallet-btn:hover, .gallery-btn:hover, .submit-bid-btn:hover {
    background-color: #D8A495;
}

#userBid, #walletAddressDisplay {
    color: #D83F31;
}

/* Additional styles for the leaderboard */
#bidsTable th:nth-child(1), #bidsTable td:nth-child(1) {
    width: 10%;
}
#bidsTable th:nth-child(2), #bidsTable td:nth-child(2) {
    width: 30%;
}
#bidsTable th:nth-child(3), #bidsTable td:nth-child(3) {
    width: 60%;
}

/* Style for highlighting the user's bid */
#userInfoTable td {
    background-color: #D83F31;
    color: white;
    padding: 10px 20px;
}

#bidsTable {
    background-color: #E7B5A6;
    color: white;
}

.hidden {
    display: none;
}

.header-bar {
    background-color: #E7B5A6;
    color: white;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #E7B5A6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #D8A495;
}

@media (max-width: 600px) {
    .container {
        max-height: 100vh;
        padding: 10px;
    }
    #bidsTable {
        font-size: 10px;
    }
}